{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock head %}

{% block title %}Admin{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block styles %}
    {{super() }}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/admin_styles.css')}}">
{% endblock styles %}

{% block navbar %}
    {% include 'admin/admin_navigation.html' %}
{% endblock navbar %}



{% block content %}

{%  endblock content %}

{% block scripts %}
    {{ super() }}



{% endblock scripts %}

